* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: rgb(247, 247, 247);
}

.todo-sub-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  background-color: white;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.todo-hr {
  color: rgb(63, 63, 63);
}

.todo-h3 {
  font-size: 26px;
  font-weight: 600;
  color: rgb(67, 67, 67);
}

.add-to-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.todo-input {
  width: 90%;
  border: 0;
  font-size: 17px;
  align-self: flex-start;
  width: 90%;
}

.input::placeholder {
  font-size: 17px;
}

.fa-turn-down {
  transform: rotate(90deg);
  cursor: pointer;
  color: rgb(74, 74, 74);
}

.fa-arrows-rotate {
  color: rgb(82, 82, 82);
}

.btn {
  padding: 20px;
  border: 0;
  background: rgb(237, 237, 237);
  width: 100%;
  cursor: pointer;
}
